* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

#image_container {
  background: black; }
  #image_container img {
    display: block;
    margin: 0 auto; }

#controls {
  background: #eeeeee;
  height: 40px; }
  #controls input {
    float: left;
    height: 40px; }
