*
  margin: 0
  padding: 0

body
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

header
  background-color: #0080ff
  padding: 10px

#image_container
  &.night
    background: black
  &.day
    background: white
  img
    display: block
    margin: 0 auto

#solution_container
  background: #eee
  height: 40px
  #solution
    text-align: center
    padding: 10px
    font-weight: bold

input
  display: block
  margin: 20px auto
  height: 40px
  width: 200px
