*
  margin: 0
  padding: 0

body
  font-family: Gafata, "Helvetica Neue", Helvetica, Arial, sans-serif
  text-align: center

.main
  padding: 10px 100px

header
  background-color: #0080ff
  padding: 10px
  border-bottom: 1px solid #ccc

#image_container
  &.night
    background: black
  &.day
    background: white
  img
    display: block
    margin: 0 auto

#solution_container
  background: #eee
  height: 40px
  border-bottom: 1px solid #ccc
  #solution
    padding: 10px
    font-weight: bold

input
  display: block
  margin: 20px auto
  height: 40px
  width: 200px
  font-size: 12px
  border-radius: 10px
  box-shadow: 0
  border: 1px solid #ccc
